<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Company",
    "name": "Scoutahead",
    "alternateName": "Innovative Collaboration for Today’s Workforce",
    "url": "https://scoutahead.com",
    "logo": "https://scoutahead.com/assets/logo.png",
    "sameAs": [
      "http://www.facebook.com/your-profile",
      "http://instagram.com/yourProfile",
      "http://www.linkedin.com/in/yourprofile",
      "http://plus.google.com/your_profile"
    ],
    "contactPoint": [
      { "@type": "ContactPoint",
        "telephone": "+1-401-555-1212",
        "contactType": "customer service"
      }
    ],
    "itemListElement": [{% for page in site.pages %}{
      "@type": "ListItem",
      "position": {% assign size = page.url | split: '/' | size | minus: 1 %}{% if size >= 0%}{{size}}{% else %}0{% endif %},
      "item": {
        "@id": "{{site.url}}{{site.baseurl}}{{page.url}}",
        "name": "{{page.title}}"
      }{% unless forloop.last %},{% endunless %}{% endfor %}
    }]
  }
</script>
