---
layout: default
title: Scoutahead
splash_image_path: 'https://res.cloudinary.com/chopper/image/upload/f_auto/v1463851804/Site%20Images/homepage-hero-img_2.jpg'
meta_name: 'Secure &amp; Encrypted Enterprise Communications System'
meta_title: Scoutahead
meta_description: 'Foster real-time, natural collaboration among teams and individuals.'
meta_image_path: 'https://res.cloudinary.com/chopper/image/upload/v1483987082/Meta%20Photos/Facebook_ad_17.01.09_1.png'
expID: hAX1oS9gSdWYc9Y6s4s__A
expVar: 0
slug: welcome
whatever_iwant: foobar
---

<section id="intro" class="fixed--center-center fill--hv" collapse>
  <video id="vault" class="js-video" tabindex="0" autobuffer="autobuffer" preload="preload">
    <source type="video/webm; codecs=&quot;vp8, vorbis&quot;" src="/assets/intro.mp4"></source>
    <source type="video/mp4; codecs=&quot;avc1.42E01E, mp4a.40.2&quot;" src="/assets/intro.mp4"></source>
    <p>Sorry, your browser does not support the &lt;video&gt; element.</p>
  </video>
</section>
{% assign nodes = site.pages | sort: 'order' %}
<div id="content" class="fixed--center-center fill--hv js-waypoints" collapse>
  <section id="home" class="t--section align--center-center fill--hv" collapse>
    <div class="t--section-content align--center-center">
      <h2 class="t--section-heading">Welcome to Scoutahead</h2>
      <h6>Secure &amp; Encrypted Enterprise<br>Communication System</h6>
    </div>
  </section>
  {% strip %}
  {% for node in nodes %}
    {% if node.order > 0 and node.order != nil %}
    <section id="{{ node.title | slugify }}" class="t--section align--center-center fill--hv" collapse>
      <div class="t--section-content align--center-center">
        {{node.content}}
      </div>
    </section>
    {% endif %}
  {% endfor %}
  {% endstrip %}
</div>

<nav class="t--nav fixed--center-right">
  <ul id="nav">
    <li class="t--nav-item">
      <a href="#" class="t--nav-item-link unstyle">Home</a>
    </li>
    {% assign nodes = site.pages | sort: 'order' %}
    {% strip %}
      {% for node in nodes %}
        {% if node.order > 0 and node.order != nil %}
        <li class="t--nav-item">
          <a href="#{{ node.title | slugify }}" class="t--nav-item-link unstyle">{{node.title}}</a>
        </li>
        {% endif %}
      {% endfor %}
    {% endstrip %}
  </ul>
</nav>
