---
layout: default
title: Scoutahead
splash_image_path: 'https://res.cloudinary.com/chopper/image/upload/f_auto/v1463851804/Site%20Images/homepage-hero-img_2.jpg'
meta_name: 'Secure &amp; Encrypted Enterprise Communications System'
meta_title: Scoutahead
meta_description: 'Foster real-time, natural collaboration among teams and individuals.'
meta_image_path: 'https://res.cloudinary.com/chopper/image/upload/v1483987082/Meta%20Photos/Facebook_ad_17.01.09_1.png'
expID: hAX1oS9gSdWYc9Y6s4s__A
expVar: 0
slug: welcome
---

<section id="intro" class="fixed--center-center fill--hv" collapse>
  <video id="vault" class="js-video" tabindex="0" autobuffer="autobuffer" preload="preload">
    <source type="video/webm; codecs=&quot;vp8, vorbis&quot;" src="http://res.cloudinary.com/chopper/video/upload/v1487887931/Site%20Images/Final_2.webm"></source>
    <source type="video/ogg; codecs=&quot;theora, vorbis&quot;" src="http://res.cloudinary.com/chopper/video/upload/v1487887931/Site%20Images/Final_2.ogv" ></source>
    <source type="video/mp4; codecs=&quot;avc1.42E01E, mp4a.40.2&quot;" src="https://res.cloudinary.com/chopper/video/upload/v1487887931/Site%20Images/Final_2.mp4"></source>
    <p>Sorry, your browser does not support the &lt;video&gt; element.</p>
  </video>
</section>

{% assign nodes = site.pages | sort: 'order' %}
<div id="content" class="fixed--center-center fill--hv js-waypoints" collapse>
  <section class="t--section id-home align--center-center fill--hv active" collapse>
    <div class="t--section-content align--center-center paragraph--center">
      <h4 class="t--section-heading editable">Innovative Collaboration for Today&rsquo;s Workforce</h4>
      <h6 class="t--section-subhead js-subheadShow" style="opacity: 0">Scoutahead’s innovative collaboration system improves efficiency and productivity.
      Whether across the office or across the world, Scoutahead keeps your workforce aligned and inspired.</h6>
    </div>
  </section>
  {% strip %}
  {% for node in nodes %}
    {% if node.order > 0 and node.order != nil %}
    <section class="t--section id-{{ node.title | slugify }} align--center-center fill--hv" collapse>
      <div class="t--section-content align--center-center">
        {{node.content | markdownify}}
        <a class="editor-link" href="cloudcannon:collections/{{ node.path }}">Edit {{node.title}}</a>
      </div>
    </section>
    {% endif %}
  {% endfor %}
  {% endstrip %}
</div>

<div id="placeholders" collapse>
  <div id="home" class="t--section-placeholder" collapse></div>
  {% strip %}
  {% for node in nodes %}
    {% if node.order > 0 and node.order != nil %}
    <div id="{{ node.title | slugify }}" class="t--section-placeholder" collapse></div>
    {% endif %}
  {% endfor %}
  {% endstrip %}
</div>

<nav class="t--nav fixed--center-right">

  <ul id="nav" class="origin">
    <li class="t--nav-item">
      <a href="#home" class="t--nav-item-link unstyle">Home</a>
    </li>
    {% assign nodes = site.pages | sort: 'order' %}
    {% strip %}
      {% for node in nodes %}
        {% if node.order > 0 and node.order != nil %}
        <li class="t--nav-item">
          <a href="#{{ node.title | slugify }}" class="t--nav-item-link unstyle">{{node.title}}</a>
        </li>
        {% endif %}
      {% endfor %}
    {% endstrip %}
    <li class="t--nav-scroll" id="nav-scroll" collapse></li>
  </ul>
</nav>
