#header {
	background: $c-gray;
	z-index: 1000;
}

#logo {
	color: #fff;
	height: 3rem;
	line-height: 3rem;
	text-decoration: none;
}

#footer {
	background: lightgray;
	padding: 30px;
}

[role="main"] {
	margin-top: $lineheight;
}

ul {
	margin: 0;
}

li {
	margin-top: 0;
}

.splash {
	position: relative;
	.splash-heading {
		padding: 2rem;
		background: rgba(black, 0.6);
		position: absolute;
		color: #fff;
		font-size: 2rem;
		top: 50%;
		right: 0;
		text-transform: uppercase;
		letter-spacing: .2em;
		box-shadow: 0 0 2px rgba(black, 0.4);
	}
}

.nav-style--a {
	position: relative;

	> a {
		display: block;
		line-height: 3rem;
		height: 3rem;
		background: $c-gray;
		text-align: center;
		color: #fff;
		text-decoration: none;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: .1em;
		border-left: solid thin darken($c-gray, 10%);
		&:hover {
			background: darken($c-gray, 10%);
		}
	}
	&:last-of-type {
		border-right: solid thin darken($c-gray, 10%);
	}
}


.nav-style--b {
	position: relative;

	> a {
		display: block;
		line-height: 3rem;
		height: 3rem;
		background: $c-gray;
		text-align: center;
		color: #fff;
		text-decoration: none;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: .1em;
		border-left: solid thin darken($c-gray, 10%);

		&:hover {
			background: darken($c-gray, 10%);
		}
	}

	&:last-of-type {
		border-right: solid thin darken($c-gray, 10%);
	}
}
