.blog {
  background-color: #333333;
  background-image: url('https://res.cloudinary.com/chopper/image/upload/v1478122813/Site%20Images/cropped-scoutaheadwebscreen1.jpg');
  background-size: auto 30rem;
  background-repeat: no-repeat;
  padding-top: 12rem;
  background-position: center top;

  .blog-title {
    color: $white;
  }

  .blog-content {

    .blog-content-main {
      background-color: $white;
      padding: 1rem;
      min-height: 20vh;
    }

    .blog-content-aside {
      padding: 1rem;
      min-height: 20vh;
      text-shadow: 0 -1px gray;

      .archive-link {
        color: $white;
        line-height: 1.2rem;
        position: relative;

        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 50%;
          display: block;
          border-bottom: solid thin $white;
          width: 0%;
          height: 1px;
          transition: width .25s ease-in-out, left .25s ease-in-out;
        }

        &:hover:after {
          width: 100%;
          left: 0;
        }

        a {
          color: $white;
          text-decoration: none;
        }
      }
    }
  }
}
