.olympics {
  background: url(https://res.cloudinary.com/chopper/image/upload/v1468862799/Site%20Images/themes/olympics/sprinting-web.jpg) no-repeat right center;
  background-size: cover;
  background-attachment: fixed;

  [role="main"] {
    margin-top: 0;
  }

  @import
    "../../utils/functions",
    "vars",
    "container",
    "splash";
}
