.olympics-splash {
  height: 70vh;
  background-color: get($olympics-colors, backgroundTrans);
  background-image: url('/_assets/img/splash_overlay.png');
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 436px 290px;

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 10vw;
    right: 50vw;
    border-bottom: solid thin $white;
    display: none;
  }

  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50vw;
    width: 50px;
    border-bottom: solid thin $white;
    transform: rotate(30deg);
    transform-origin: top left;
    display: none;
  }

  @include desktop {
    &:after,
    &:before {
      display: block;
    }
  }

  .olympics-splash-heading {
    font-weight: 100;
    line-height: 4rem;
    transform: translate(0, 5rem);
    padding: 0 1rem;
    font-size: 42pt;

    @include tablet {
      font-size: 54pt;
      transform: translate(10vw, 15vh);
    }
  }

  .olympics-splash-description {
    width: 20vw;
    transform: translate(55vw, 20rem);
    display: none;

    @include desktop {
      display: block;
    }
  }

  .olympics-splash-timer {
    background: get($olympics-colors, background);
    padding: 2rem 0;
    width: 100%;

    @include desktop {
      width: 40vw;
    }

    .olympics-splash-timer-counter {
      font-size: 36pt;
      line-height: 1em;
      justify-content: center;
      white-space: nowrap;

      @include tablet {
        font-size: 60pt;
      }

      li {
        text-align: center;
        padding: 0 .25rem;
      }

      label {
        display: block;
        text-align: center;
        width: 100%;
        font-size: 8pt;
        letter-spacing: .1em;
        text-transform: uppercase;
        line-height: 1em;
        color: scale-color(get($olympics-colors, background), $lightness: 40%);
      }
    }

    .olympics-splash-timer-heading {
      width: 100%;
      padding-left: 3rem;

      &:before {
        content: url('/_assets/img/bg_timer.svg');
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1;
        display: block;
        overflow: hidden;
        vertical-align: top;
      }
    }
  }

  .olympics-splash-cta {
    background-image: get($olympics-colors, gradientVertical);
    top: 100%;
    width: 100%;
    height: 5rem;
    margin-top: 0;
    display: block;

    @include tablet {
      top: 0;
      height: 100%;
      width: 6rem;
    }

    > a {
      display: inline-block;
    }

    .olympics-splash-cta-heading {
      top: 0;
      left: 0;
      font-size: 28pt;
      white-space: nowrap;
      line-height: 5rem;
      font-weight: 100;
      padding-left: 1rem;

      @include tablet {
        line-height: 6rem;
        padding-left: 1rem;
        transform: rotate(90deg) translate(100%, 0);
        transform-origin: right top;
      }
    }

    .olympics-splash-cta-icon {
      margin-top: 0;
      font-size: 24pt;
      line-height: 1em;
      top: 0;
      background-color: get($olympics-colors, ctaDark);
      line-height: 5rem;
      padding: 0 1rem 0 1.5rem;

      @include tablet {
        top: auto;
        width: 100%;
        padding: 1rem 0;
        text-align: center;
      }

      i + i {
        margin-left: -.5rem;
      }
    }
  }
}
