$olympics-colors: (
  brand: #40b1bd,
  background: #2A2833,
  ctaDark: #1D5D63,
  backgroundTrans: rgba(0,0,0,0.4),
  gradientVertical: linear-gradient(-180deg, #4EA7AD 0%, #31757C 15%, #2C787F 41%, #26646A 72%),
  );
