</div>
<!--  End of Role: Main -->

<div class="browser_frame centered">

  <h2 class="display--module p-centered block">We're sorry but the browser you are using is currently unsupported. <span class="block">We <strong>recommend upgrading</strong> your browser for the best viewing experience.</span></h2>

  <div class="browser_column p-centered text--heading">
    <a href="https://www.google.com/chrome/browser/desktop/index.html" title="Download Google Chrome">Download <span class="block">Google Chrome</span>
    <img src="https://res.cloudinary.com/chopper/image/upload/f_auto,w_125/Site%20Images/upgrade_browser/chrome_1.jpg" title="Download Google Chrome" alt="Download Google Chrome" class="browser_icon centered" /></a>
  </div>

  <div class="browser_column p-centered text--heading">
    <a href="https://www.mozilla.org/en-US/firefox/new/" title="Download Mozilla Firefox">Download <span class="block">Mozilla Firefox</span>
    <img src="https://res.cloudinary.com/chopper/image/upload/f_auto,w_125/Site%20Images/upgrade_browser/firefox_1.jpg" title="Download Mozilla Firefox" alt="Download Mozilla Firefox" class="browser_icon centered" /></a>
  </div>

  <div class="browser_column p-centered text--heading">
    <a href="http://www.opera.com/" title="Download Opera Browser">Download <span class="block">Opera Browser</span>
    <img src="https://res.cloudinary.com/chopper/image/upload/f_auto,w_125/Site%20Images/upgrade_browser/opera_1.jpg" title="Download Opera Browser" alt="Download Opera Browser" class="browser_icon centered" /></a>
  </div>

  <div class="browser_column p-centered text--heading">
    <a href="https://www.microsoft.com/en-us/download/details.aspx?id=48126" title="Download Microsoft Edge">Download <span class="block">Microsoft Edge</span>
    <img src="https://res.cloudinary.com/chopper/image/upload/f_auto,w_125/Site%20Images/upgrade_browser/edge_1.jpg" title="Download Microsoft Edge" alt="Download Microsoft Edge" class="browser_icon centered" /></a>
  </div>

  <div class="clear"></div>

</div>
<!-- End Browser Upgrade -->

<div role="main">
