<footer id="footer" class="t--footer fixed--bottom-right">
  <div class="flex--grid">
    <div class="copyright collapse">
      <p class="p-centered inverse">
      Copyright &copy; 2015-16 - Scoutahead.com, LLC
      </p>
    </div>
    <div>
      <ul class="flex--grid unstyle--list">
        <li class="collapse">
           <a role="button" href="https://www.facebook.com/ScoutaheadHQ/" target="_blank" class="button--facebook-md unstyle">
            <i class="ion-social-facebook"></i>
            <span>facebook</span>
          </a>
          <a style="display:none" class="js-share-facebook popup"></a>
        </li>
        <li>
          <a role="button" href="https://twitter.com/ScoutaheadHQ" target="_blank" class="button--twitter-md unstyle">
            <i class="ion-social-twitter"></i>
            <span>twitter</span>
          </a>
          <a style="display:none" class="js-share-twitter popup"></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
