<footer id="footer" class="footer">
  <div class="container">
    <nav class="flex">
      <ul class="flex centered">
        <li class="nav-style--b"><a href="/">Welcome</a></li>
        <li class="nav-style--b"><a href="/faq.html">FAQ</a></li>
        <li><a href="/" class="footer-logo">{% include svg/logo.html %}</a></li>
        <li class="nav-style--b"><a href="/about.html">About</a></li>
        <li class="nav-style--b"><a href="/contact.html">Contact</a></li>
      </ul>
    </nav>
    <nav class="footer-social">
      <ul class="flex flex-center unstyle--list">
        <li class="social-link--a inverse"><a href="https://twitter.com/ScoutaheadHQ"><i class="ion-social-twitter"></i></a></li>
        <li class="social-link--a inverse"><a href="https://www.facebook.com/ScoutaheadHQ"><i class="ion-social-facebook"></i></a></li>
        <li class="social-link--a inverse"><a href="https://plus.google.com/108067813429361510728"><i class="ion-social-googleplus"></i></a></li>
      </ul>
    </nav>
    <div class="copyright collapse">
      <p class="p-centered inverse">
      Copyright &copy; 2015-16 - Scoutahead.com, LLC
      </p>
    </div>
    <nav>
      <ul class="footer-sublinks">
        <li class="footer-link--a"><a href="/privacy" title="Privacy Policy">Privacy Policy</a></li>
        <li class="footer-link--a"><a href="/terms" title="Terms of Service">Terms of Service</a></li>
      </ul>
    </nav>
  </div>
</footer>
