<header id="header" class="header flex not-inview js-header">
  <button class="header-toggle" data-behavior="openMenu" data-target="js-menu"><i class="ion-navicon"></i></button>

  <a href="/" class="header-logo" id="logo">
    <span class="is-hidden">{{ site.title }}</span>
    {% include svg/logo.html %}
  </a>

  <nav class="header-menu flex-end js-menu is-hidden" data-behavior="menu">
    <button class="header-menu-close collapse js-close"><i class="ion-ios-close-empty"></i></button>
    <ul class="flex" data-behavior="links">
      <li class="nav-style--a">
        <a href="/" data-behavior="welcomeLink">Welcome</a>
      </li>
    {% assign nodes = site.pages | sort: "order" %}
    {% for node in nodes %}
      {% if node.title != nil and node.parent == nil and node.order > 0 %}
      <!-- {% capture nodediff %}{{ node.url | remove:"/" }}{% endcapture %} -->
      <li class="nav-style--a {% if page.url == node.url %} is-current {% endif %}">
        {% if node.order == 0 %}
        <a href="/">{{ node.title }}</a>
        {% else %}
        <a href="{{node.url}}">{{ node.title }}</a>
        {% endif %}
        {% assign children = site.pages | where:  "parent", node.title %}
        {% if children != empty %}
        <ul role="dropdown">
        {% for child in children %}
          <li class="nav-style--b">
            <a href="{{child.url}}">{{ child.title }}</a>
          </li>
        {% endfor %}
        </ul>
        {% endif %}
      </li>
      {% endif %}
    {% endfor %}
    <li class="nav-style--a">
      <a href="/contact">Contact</a>
    </li>
    </ul>
  </nav>
  <div class="nav-login is-hidden" data-behavior="loggedInHide">
    <a href="/login"><i class="ion-locked"></i> Login</a>
  </div>

</header>
