<header id="header" class="header flex">
  <div>
    <a href="/" class="header-logo" id="logo">
      <span class="is-hidden">{{ site.title }}</span>
      {% include svg/logo.html %}
    </a>
  </div>
  <nav class="header-menu flex-end">
    <ul class="flex">
    {% assign nodes = site.pages | sort: "order" %}
    {% for node in nodes %}
      {% if node.title != nil and node.parent == nil and node.order > 0 %}
      {% capture nodediff %}{{ node.url | remove:"/" }}{% endcapture %}
      <li class="nav-style--a {% if page.url == node.url %} active {% endif %}">
        {% if node.order == 0 %}
        <a href="/">{{ node.title }}</a>
        {% else %}
        <a href="{{node.url}}">{{ node.title }}</a>
        {% endif %}
        {% assign children = site.pages | where:  "parent", node.title %}
        {% if children != empty %}
        <ul role="dropdown">
        {% for child in children %}
          <li class="nav-style--b">
            <a href="{{child.url}}">{{ child.title }}</a>
          </li>
        {% endfor %}
        </ul>
        {% endif %}
      </li>
      {% endif %}
    {% endfor %}
    <li class="nav-login">
      <a href="/login">Login</a>
    </li>
    </ul>
  </nav>
</header>
