<!-- Vendor -->
<script type="text/javascript" src="{{ "/bower_components/angular/angular.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/bower_components/angular-route/angular-route.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/bower_components/angular-ui-router/release/angular-ui-router.min.js" | prepend: site.baseurl }}"></script>
<!-- End Vendor -->


<!-- App -->
<script type="text/javascript" src="{{ "/js/app.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/controllers.js" | prepend: site.baseurl }}"></script>
<!-- End App -->