.text {
  position: relative;
  padding: 0;

  legend {
    position: absolute;
    top: .5rem;
    margin-top: 0;
    transition: transform .25s;
    transform: translateY(-1.25rem);
  }

  input {
    color: $black;
    padding: .25rem .5em;
    width: 100%;
    font-size: 1.5rem;
    line-height: 2rem;
    border: solid thin $white--off;
    transition: transform .25s;
    transform: translateY(1.25rem);

    &:empty {
      transform: translateY(0rem);
      + legend {
        transform: translateY(0rem);
      }
    }
  }

  //   &.has-content {
  //     background-color: $white--off;
  //     box-shadow: 0 1px 1px rgba($black, .2) inset;
  //
  //     + legend {
  //       transform: translateY(-1rem);
  //     }
  //   }
  //
  //   &:focus {
  //     margin-top: -2px;
  //     margin-bottom: 2px;
  //     box-shadow: 0 0 15px rgba($black, .2);
  //     transform: translateY(1.5rem);
  //
  //     + legend {
  //       transform: translateY(-1rem);
  //     }
  //   }
  // }

  // &.invalid {
  //   &:after {
  //     display: none;
  //     content: "\f404";
  //     font-family: "Ionicons";
  //     color: $color-warning;
  //     margin-left: .5em;
  //     position: absolute;
  //     top: 2.25rem;
  //     font-size: 24pt;
  //     display: block;
  //     right: .5rem;
  //   }
  //
  //   &.clean:after {
  //     display: none;
  //   }
  // }
}
