#header {
	background: $c-gray;
	z-index: 1000;
}

#logo {
	color: #fff;
	height: 3rem;
	line-height: 3rem;
	text-decoration: none;
}

#footer {
	background: lightgray;
	padding: 30px;
}

.unstyle {
	padding: 0;
	list-style: none;
}

[role="main"] {
	margin-top: $lineheight;
	display: block;
}


.splash {
	position: relative;
	width: 100%;
	background: #333;
	text-align: center;
	line-height: 0;
	margin-top: -$lineheight;
	> img {
		display: inline-block;
	}

	.splash-heading {
		padding: 2rem;
		background: rgba(black, 0.6);
		position: absolute;
		color: #fff;
		font-size: 2rem;
		top: 50%;
		right: 0;
		text-transform: uppercase;
		letter-spacing: .2em;
		box-shadow: 0 0 2px rgba(black, 0.4);
	}
}