.nav-style--a, .nav-login {
  min-width: 100%;

  > a {
    display: inline-block;
    height: $height-header;
    line-height: $height-header;
    padding: 0 1rem;
    color: #ffffff;
    width: 100%;
  }

  @include tablet {
    min-width: 0;

    > a {

    }
  }
}

.nav-login {
  > a {
    background-color: green;
  }
}
