.or {
  font-size: 14pt;
  text-align: center;
  height: 3rem;
  line-height: 3rem;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-weight: 700;

  &::before,
  &::after {
    margin: 0 .25rem;
    content: "\2014";
    font-weight: 400;
  }
}
