.splash {
  background: $black;
  margin-top: -($offset-body + $height-header);

  > img {
    opacity: 0.6;
  }

  .splash-heading {
    justify-content: center;
    margin-top: 0;
    padding-top: $height-header;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 0 1rem;

    @include tablet {
      padding: 0 25%;
    }
  }
}
