.splash {
  min-width: 100%;
  align-items: center;
  display: flex;
  height: 90vh;
  justify-content: center;
  margin-top: 0;
  overflow: hidden;
  position: relative;
  width: 100%;

  img {
    flex-shrink: 0;
    min-height: 100%;
    min-width: 100%;
  }

  .splash-heading {
    font-size: 2rem;
    letter-spacing: .2em;
    padding: 2rem;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    top: 50%;
  }
}
