html {
  color: #444;
  font-family: 'Proxima Nova', 'Helvetica', sans-serif;
}

.banner- {
	&-hero {
    @include fp(font-size, 24, 48);
    font-weight: 100;
    line-height: 4rem;

		&-subhead {
      @include fp(font-size, 16, 24);
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: .1em;
      line-height: 2rem;

      + .banner--hero {
        margin-top: 1rem;
      }
		}
	}
}

.display- {
  &-welcome {
    font-size: 24pt;
    font-weight: 900;
    line-height: 3rem;
    display: inline-block;
    position: relative;
    margin-bottom: 1rem;
    padding-bottom: 1rem;

    &:after {
      content: "";
      position: absolute;
      border-bottom: solid .5rem $color-b;
      width: 80%;
      bottom: 0;
      left: 0;
    }
  }

  &-module {
    font-size: 21pt;
    font-weight: 700;
    line-height: 2.5rem;
    margin-bottom: .5rem
  }
	&-page {
		&-subhead {

		}
	}
}
//
// .text- {
// 	&-warning {
//
// 	}
//
// 	&-error {
//
// 	}
// }
