.heading--xl { 
	font-size: 2.5rem;
	line-height: 1em;
}
.heading--l  { font-size: 2.0rem; }
.heading--m  { font-size: 1.5rem; }
.heading--s  { font-size: 1.2rem; }
.heading--xs { font-size: 0.8rem; }

