---
---
.welcome {
  * {
    display: none;
  }
  .browser_frame,
  .browser_frame * {
    display: inline-block;
  }
}

body.welcome {
  padding-bottom: 0;
}

.browser_frame {
  background: url('https://res.cloudinary.com/chopper/image/upload/Site%20Images/upgrade_browser/frame_1.jpg') center center no-repeat;
  width: 1024px;
  margin-top: 25pt;
  padding-bottom: 270pt;
  clear: both;
  display: block !important;

  .display--module {
    margin-bottom: 40pt;
  }

  .browser_column {
    width: 25%;
    margin-top: 0;
    float: left;

    a {
      line-height: 14pt;
      display: block;
      color: black;

      img {
        border: 0;
      }

    }

    .block {
      white-space: nowrap;
    }

    .browser_icon {
      display: inline;
    }

  }

}

.clear {
  height: 1px;
  display: block;
  clear: both;
}
