* {
  margin-top: 0;
  vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	margin: 0;

  + * {
    margin-top: 2rem;
  }

  .is-hidden,
  .collapse {
    + * {
      margin-top: 0;
    }
  }
}

html,
body {
  margin: 0;
  padding: 0;
}


html {
  font-size: 87.5%;
  line-height: 2em;
  font-family: 'Helvetica', sans-serif;
  height: 100%;
}

body {
  min-height: 100%;
}

a img, :link img, :visited img {
	border: 0;
}

a {
  text-decoration: none;

  &:hover,
  &:link,
  &:hover,
  &:active,
  &:visited {
    color: inherit;
    text-decoration: none;
  }
}

ul {
  padding-left: 1rem;

  li {
    margin-top: 0;
  }
}

nav {

  ul {
    margin-bottom: 0;
    list-style: none;
    padding-left: 0;
  }
}
