.align- {
  position: absolute;

  &-center {
    @extend .align-;
    top: 50%;
    transform: translateY(-50%);

    &-center {
      @extend .align--center;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &-left {
      @extend .align--center;
      left: 0;
    }

    &-right {
      @extend .align--center;
      right: 0
    }
  }

  &-bottom {
    @extend .align-;
    bottom: 0;

    &-center {
      @extend .align--bottom;
      left: 50%;
      transform: translateX(-50%);
    }

    &-left {
      @extend .align--bottom;
    }

    &-right {
      @extend .align--bottom;
    }
  }

  &-top {
    @extend .align-;
    top: 0;

    &-center {
      @extend .align--top;
      left: 50%;
      transform: translateX(-50%);
    }

    &-left {
      @extend .align--top;
      left: 0;
    }

    &-right {
      @extend .align--top;
      right: 0
    }
  }
}
