.fixed- {
  position: fixed;

  &-center {
    @extend .fixed-;
    top: 50%;
    transform: translateY(-50%);

    &-center {
      @extend .fixed--center;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &-left {
      @extend .fixed--center;
      left: 0;
    }

    &-right {
      @extend .fixed--center;
      right: 0
    }
  }

  &-bottom {
    @extend .fixed-;
    bottom: 0;

    &-center {
      @extend .fixed--bottom;
      left: 50%;
      transform: translateX(-50%);
    }

    &-left {
      @extend .fixed--bottom;
      left: 0;
    }

    &-right {
      @extend .fixed--bottom;
      right: 0;
    }
  }

  &-top {
    @extend .fixed-;
    top: 0;

    &-center {
      @extend .fixed--top;
      left: 50%;
      transform: translateX(-50%);
    }

    &-left {
      @extend .fixed--top;
      left: 0;
    }

    &-right {
      @extend .fixed--top;
      right: 0
    }
  }
}
