.flex {
  display: flex;

  > * {
    margin-top: 0 !important;
  }

  &--grid {
    @extend .flex;
    margin-left: -1rem;

    > * {
      padding-left: 1rem
    }
  }

  &--wrap {
    @extend .flex;
    flex-wrap: wrap;
  }

  .flex-fill {
    flex: 1;
  }

  .flex-center {
    margin-left: auto;
    margin-right: auto;
  }

  .flex-end {
    margin-left: auto;
  }
}
