.newPassword {
  &-chars,
  &-simple,
  &-strong {
    padding-left: 1.5rem;
    position: relative;

    &-strength {
      color: map-get($color-wheel, orange);
      font-size: .8em;
      font-weight: map-get($weights, bold);
      letter-spacing: .1em;
      text-transform: uppercase;
    }

    &:before {
      content: "";
      font-family: "Ionicons";
      display: inline-block;
      width: 1rem;
      content: "\f122";
      color: #ddd;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &:not(.password_too_short) &-chars,
  &:not(.password_too_simple) &-simple,
  &:not(.password_too_simple):not(.password_too_short).password_medium &-strong,
  &:not(.password_too_simple):not(.password_too_short).password_strong &-strong,
  &:not(.password_too_simple):not(.password_too_short).password_very_strong &-strong,
  &:not(.password_too_simple):not(.password_too_short).password_extra_strong &-strong {
    &-keepTyping {
      display: none;
    }

    &:before {
      color: map-get($color-wheel, blue-green);
    }
  }

  &-strength {
    border-top: solid 3px #ddd;
    height: 2rem;
    opacity: 0;
    position: relative;
    transform: translate(0, -1px);
    transition: opacity .25s ease;

    .has-focus &,
    .has-content & {
      opacity: 1;
    }

    &:after,
    &:before {
      content: "";
      display: block;
      transition: transform .5s ease-in-out;
      transform-origin: left top;
      width: 100%;
    }

    &:before {
      background-color: map-get($color-wheel, red-violet);
      height: 3px;
      transform: scaleX(.1) translateY(-3px);

      .password_weak:not(.password_too_simple) & {
        background-color: map-get($color-wheel, red-violet);
        transform: scaleX(.1) translateY(-3px);
      }

      .password_medium:not(.password_too_simple) & {
        background-color: map-get($color-wheel, orange);
        transform: scaleX(.4) translateY(-3px);
      }

      .password_strong:not(.password_too_simple) & {
        background-color: map-get($color-wheel, yellow-green);
        transform: scaleX(.6) translateY(-3px);
      }

      .password_very_strong:not(.password_too_simple) & {
        background-color: map-get($color-wheel, green);
        transform: scaleX(.8) translateY(-3px);
      }

      .password_extra_strong:not(.password_too_simple) & {
        background-color: map-get($color-wheel, blue-green);
        transform: scaleX(1) translateY(-3px);
      }
    }

    &:after {
      content: "Too Weak";
      font-size: .6rem;
      font-weight: map-get($weights, bold);
      text-align: right;
      text-transform: uppercase;
      transform: translate(-90%, 0);
      letter-spacing: .1em;
      color: map-get($color-wheel, red-violet);

      .password_weak:not(.password_too_simple) & {
        content: "Too Weak";
        color: map-get($color-wheel, red-violet);
        transform: translate(-90%, 0);
      }

      .password_medium:not(.password_too_simple) & {
        content: "Adequate";
        color: map-get($color-wheel, orange);
        transform: translate(-60%, 0);
      }

      .password_strong:not(.password_too_simple) & {
        content: "Average";
        color: map-get($color-wheel, yellow-green);
        transform: translate(-40%, 0);
      }

      .password_very_strong:not(.password_too_simple) & {
        content: "Strong";
        color: map-get($color-wheel, green);
        transform: translate(-20%, 0);
      }

      .password_extra_strong:not(.password_too_simple) & {
        content: "Very Strong";
        color: map-get($color-wheel, blue-green);
        transform: translate(-0%, 0);
      }
    }
  }
}

// .password-criteria {
//   position: relative;
//   z-index: 9;
//
//   input:not(:focus) ~ & {
//     @extend %hide;
//   }
//
//   @media (min-width: 760px) {
//
//     input:focus ~ & {
//       opacity: 1;
//       transform: translateX(0);
//     }
//
//     background-color: $white;
//     border-radius: $radius;
//     border: thin solid #ccc;
//     box-shadow: 3px 3px 10px 5px rgba($black, .1);
//     left: 0;
//     opacity: 0;
//     padding: 10pt;
//     top: 30pt;
//     max-width: 400px;
//     position: absolute;
//     transform: translateY(-20pt);
//     transition-duration: .25s;
//     transition-property: opacity, transform;
//     transition-timing-function: ease-in-out;
//     width: 100%;
//
//     &:after {
//       background-color: $white;
//       content: '';
//       height: 10pt;
//       position: absolute;
//       top: -6pt;
//       left: 50%;
//       margin-left: -5pt;
//       transform: rotate(45deg);
//       width: 10pt;
//       border-left: thin solid #ccc;
//       border-top: thin solid #ccc;
//     }
//   }
//
//   ul {
//
//     li {
//       color: scale-color($black, $lightness: 50%);
//       padding-left: 20px;
//       position: relative;
//       margin-top: 1rem;
//
//       &:not(.password_too_short),
//       &:not(.password_too_simple),
//       &:not(.password_weak) {
//
//         &:before {
//           color: map-get($color-wheel, green);
//           content: '\f122';
//           font-family: 'Ionicons';
//           left: 0;
//           position: absolute;
//           top: 0;
//         }
//       }
//
//       .password_too_short & {
//
//         &.pass-chars {
//           color: $black;
//
//           &:before {
//             color: #8a3324;
//             content: '\f12a';
//           }
//         }
//       }
//
//       .password_too_simple & {
//
//         &.pass-simple {
//           color: $black;
//
//           &:before {
//             color: #8a3324;
//             content: '\f12a';
//           }
//         }
//       }
//
//       .password_weak & {
//
//         &.pass-weak {
//           color: black;
//
//           &:before {
//             color: #8a3324;
//             content: '\f12a';
//           }
//         }
//       }
//     }
//   }
// }
//
// .strength-meter {
//   background-color: rgba($black, .1);
//   border-radius: $radius;
//   height: 5pt;
//   overflow: hidden;
//   position: relative;
//   width: 100%;
//
//   &:before {
//     background-color: map-get($color-wheel, green);
//     border-radius: $radius;
//     content: '';
//     height: 100%;
//     left: 0;
//     position: absolute;
//     transition: width .25s ease-in-out;
//     width: 0;
//
//     .password_weak & {
//       width: 20%;
//       background-color: red;
//     }
//
//     .password_medium & {
//       width: 40%;
//       background-color: yellow;
//     }
//
//     .password_strong & {
//       width: 60%;
//     }
//
//     .password_very_strong & {
//       width: 80%;
//     }
//
//     .password_extra_strong & {
//       width: 100%;
//     }
//   }
// }
