* {
  box-sizing: border-box;
  margin-bottom: 0;
  margin-top: 0;

  &:not([collapse]) + * {
    margin-top: 1rem;
  }
}

:root {
  font-family: 'Proxima Nova', sans-serif;
  font-size: 9pt;

  @media only screen and (min-device-width: 767px)  {
    font-size: calc(.75vh + .75vw + .25vmin);
  }
}

html,
body {
  margin: 0;
  padding: 0;
}


nav {
  > ul {
    list-style: none;
    padding-left: 0;
  }
}

ul {
  padding-left: 1rem;
}

video {
  display: block;
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
  width: 100%;
}

button {
  background-color: rgba(black, 0.15);
  border: solid thin white;
  color: white;
  cursor: pointer;
  height: 2.5rem;
  padding: 0 1rem;
  border-radius: 99rem;
  font-size: 1rem;
  outline: none;
}

$scale: map-get($scale, $interval);

$b: 0;

@if (index($headings, body)) {
  $b: index($headings, body);
}

@each $h in $headings {
  $i: index($headings, $h);

  @if($i > $b) {
    $j: $i - $b;
    $l: $scale;

    @while $l < pow($scale, $j) {
      $l: $l + $scale;
    }

    #{$h} {
      font-size: 1rem * pow($scale, $j);
      line-height: 1.1em;
    }
  }

  @if($i < $b) {
    $j: $b - $i;

    #{$h} {
      font-size: 1rem / pow($scale, $j);
      line-height: 1rem;
    }
  }

  @if($i == $b) {
    body {
      font-size: 1rem;
      line-height: 1.2em;
    }
  }
}
