$theme: (
  brand: #40b1bd,
  heading: #555,
  background: #FDFDFD,
  sidebar: #6ea1a2,
  graphics: #A4BFBE,
  error: #8a3324,
  links: #39afb0,
  footer: #241f1f,
  label: #a3a3a3,
  questions-header: #303030,
  message-urgent: #E4ECEC,
  segue-blue: #183656
);

html {
  font-family: 'Proxima Nova', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

.simple {
  padding: 10rem 0 5rem;
}

a {
  color: map-get($theme, links);
}

#intro {
  display: none;

  @include tablet {
    display: block;
  }
}

.t- {
  &-button {
    &-a {
      background-color: map-get($theme, brand);
    }

    &-b {
      box-shadow: 0 0 0 1px map-get($theme, brand);
      color: map-get($theme, brand);
      height: 3rem;
      width: 3rem;
      display: inline-block;
      text-align: center;
      line-height: 3rem;
      border-radius: 3rem;
      transition: background .25s ease-in-out,
        color .25s ease-in-out;

      &:hover {
        background-color: map-get($theme, brand);
        color: white;
      }
    }
  }

  &-contact {
    &-sidebar {
      padding-left: 4rem;
      display: none;

      @include tablet () {
        display: block;
      }
    }
  }

  &-heading {
    &-a {
      display: inline-block;
      font-weight: map-get($weights, extra-bold);
      position: relative;
      padding-bottom: 1rem;

      &:after {
        content: "";
        border-bottom: solid .5rem map-get($theme, brand);
        position: absolute;
        bottom: 0;
        left: 0;
        width: 80%;
      }
    }

    &-b {
      font-weight: map-get($weights, heading);
      color: map-get($theme, heading);
    }
  }

  &-header {
    height: 5rem;

    .simple & {
      background-color: white;
      box-shadow: 0 0 .25rem rgba(black, 0.2);
    }

    &-logo {
      display: block;
      padding-left: 1rem;

      > svg {
        fill: map-get($theme, brand);
        width: 10rem;
        height: 3rem;

        @include tablet {
          width: 15rem;
        }
      }
    }

    &-buttons {
      padding-right: 1rem;
    }
  }

  &-link {
    background-color: rgba(black, 0.25);
    box-shadow: 0 0 0 1px rgba(white, 1);
    line-height: 1.2em;
    border-radius: 2.5rem;
    display: inline-block;
    padding: .5rem 1.5rem;
    color: white;
  }

  &-nav {
    padding: 1rem;
    text-align: right;

    &-item {
      padding-right: 2rem;
      position: relative;
      height: 1rem;

      &:after {
        content: "";
        display: block;
        width: 8px;
        height: 8px;
        position: absolute;
        top: 50%;
        right: 0;
        border-radius: 1rem;
        transform: translate(0, -50%);
        transition: background-color .25s ease;
        background-color: rgba(black, 0.6);
        z-index: 2;
      }

      & + & {
        &:before {
          content: "";
          border-right: solid 8px rgba(white, 0.2);
          height: 2rem;
          position: absolute;
          top: 50%;
          right: 0;
          display: block;
          transform: translate(0, -100%);
          z-index: 1;
        }
      }

      &-link {
        border-bottom: solid thin transparent;
        transition: color .5s ease;
        color: rgba(white, 0.5);
        display: none;
        text-shadow: 0 1px 1px rgba(black, 0.5);

        @include tablet () {
          display: inline-block;
        }
      }

      &.active:after {
        background-color: white;
      }

      &.active &-link {
        color: white;
      }
    }

    &-scroll {
      width: 8px;
      background-color: rgba(black, .6);
      position: absolute;
      top: 0;
      right: 0;
      margin-top: .25rem;
      transition: transform .25s ease-in-out;
      border-radius: .25rem;
      z-index: -1;
    }
  }

  &-section {
    background-color: rgba(black, 0.65);
    color: white;
    opacity: 1;
    text-shadow: 0 0 1px rgba(black, 1);
    transition: transform 1s ease-in-out,
      opacity 1s ease;

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    &.id-home {
      background-image: url('./home_shot_1.jpg');
    }

    &.id-secure {
      background-image: url('./home_shot_2.jpg');
    }

    &.id-smart {
      background-image: url('./home_shot_3.jpg');
    }

    &.id-simple {
      background-image: url('./home_shot_4.jpg');
    }

    &.id-product {
      background-image: url('./home_shot_1.jpg');
    }

    @include tablet {
      background-image: none !important;
    }

    &-placeholder {
      height: 1000px;

      &:last-child {
        height: 100vh;
      }
    }

    &-subhead {
      transition: opacity .5s ease;
    }

    @at-root #home#{&} {
      color: white;
      text-align: center;

      .active &-content {
      }
    }

    &-icon {
      display: inline-block;
      fill: white;
      margin-right: 1rem;
      height: 3rem;
      width: 3rem;
    }

    &:not(.active) {
      opacity: 0;
      pointer-events: none;
    }

    &-content {
      transform: translate(-50%, -1000%);
      transition: transform 1s ease-in-out;
      padding: 0 3rem;
      width: 100%;

      @include tablet {
        max-width: 66vw;
      }
    }

    &.active ~ & > &-content {
      transform: translate(-50%, 1000%);
    }

    &.active > &-content {
      transform: translate(-50%, -50%);
    }
  }
}
