.origin {
  transform: translate(0, 0);
  z-index: index($index, origin);
}

.align- {
  position: absolute !important;

  &-top {
    @extend .align-;
    top: 0;

    &-right {
      @extend .align--top;
      right: 0;
    }

    &-left {
      @extend .align--top;
      left: 0;
    }
  }

  &-bottom {
    @extend .align-;
    bottom: 0;

    &-right {
      @extend .align--bottom;
      right: 0;
    }

    &-left {
      @extend .align--bottom;
      left: 0;
    }
  }
}
