.splash {
  min-width: 100%;
  height: 100vh;
  justify-content: center;
  margin-top: -$height-header;
  background-position: center center;
  overflow: hidden;
  position: relative;
  background-size: cover;

  @include tablet {
    height: 65vh;
  }
}
