---
layout: container
title: FAQ
permalink: faq.html
order: 2
---

<div class="container">
  <h2 class="display--page">Frequently Asked Questions</h2>
  <div class="grid gutter--lg">
    <div class="col-1 tablet-2-3">
      {% assign nodes = site.faqs | sort: "order" %}
      {% for post in nodes %}
        <div>
          <h4 id="faq-{{forloop.index}}" class="text--heading collapse">{{ post.title }}</h4>
          {{ post.content | strip }}
        </div>
      {% endfor %}
    </div>
    <div class="col-1 tablet-1-3">
      <div class="sidebar">
        <div class="module">
          <h5 class="display--sidebar"><i class="ion-checkmark"></i> FAQ Directory</h5>
          <ul class="unstyle--list linklist" data-behavior="faqScroll">
          {% for post in nodes %}
            <li class="col">
              <i class="ion-chevron-right collapse"></i>
              <a href="#faq-{{forloop.index}}">{{post.title}}</a>
            </li>
          {% endfor %}
          </ul>
        </div>
        <div class="module">
          <h5 class="display--sidebar">Have a question not answered here?</h5>
          <div>
            <strong class="display--sidebar-subhead">Direct questions to </strong>
            <a href="mailto:questions@scoutahead.com" title="Contact Us">questions@scoutahead.com</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
