---
layout: simple
title: Product
permalink: product.html
order: 1
---

{% assign nodes = (site.sections | where: "parent" , page.title | sort: 'order' ) %}

<div id="content" class="fixed--center-center fill--hv js-waypoints" collapse>
  {% strip %}
  {% for node in nodes %}
    {% if node.order > 0 and node.order != nil %}
    <section id="section-{{ node.title | slugify }}" class="t--section align--center-center fill--hv" collapse>
      <div class="t--section-content align--center-center">
        {{node.content | markdownify}}
        <a class="editor-link" href="cloudcannon:collections/{{ node.path }}">Edit {{node.title}}</a>
      </div>
    </section>
    {% endif %}
  {% endfor %}
  {% endstrip %}
</div>

<div id="placeholders" collapse>
  {% strip %}
  {% for node in nodes %}
    {% if node.order > 0 and node.order != nil %}
    <div id="{{ node.title | slugify }}" class="t--section-placeholder" collapse></div>
    {% endif %}
  {% endfor %}
  {% endstrip %}
</div>

<nav class="t--nav fixed--center-right">
  <ul id="nav" class="origin">
    {% strip %}
      {% for node in nodes %}
        {% if node.order > 0 and node.order != nil %}
        <li class="t--nav-item">
          <a href="#{{ node.title | slugify }}" class="t--nav-item-link unstyle">{{node.title}}</a>
        </li>
        {% endif %}
      {% endfor %}
    {% endstrip %}
    <li class="t--nav-scroll" id="nav-scroll" collapse></li>
  </ul>
</nav>
