---
layout: simple
title: Product
permalink: product.html
order: 1
background_image: img/product_bg.png
---

{% assign nodes = (site.sections | where: "parent" , page.title | sort: "order" ) %}

<div id="content" class="fixed--center-center fill--hv js-waypoints" collapse>
  <section id="section-{{page.title | slugify}}" class="t--section id-home align--center-center active" {% if page.background_image %}style="background-image: url('{% asset_path "{{page.background_image | split: '/' | last}}" %}');"{% endif %} collapse>
    <div class="t--section-content align--center-center paragraph--center">
      <h4 class="t--section-heading t--heading-thin editable">With Scoutahead’s secure collaboration system</h4>
      <div class="editable">
        <ul>
          <li>Safeguard Intellectual property</li>
          <li>Find the right people and information in real-time</li>
          <li>Keep everyone aligned and inspired, whether across the office or across the planet</li>
        </ul>
      </div>
      <div class="flex">
        <div class="flex-center">
          <a href="/contact.html" class="t--link unstyle" type="button" name="button">Request a Demo</a>
        </div>
      </div>
    </div>
  </section>
  {% strip %}
  {% for node in nodes %}
    {% if node.order > 0 and node.order != nil %}
    <section id="section-{{ node.title | slugify }}" class="t--section align--center-center fill--hv" {% if node.background_image %}style="background-image: {{node.background_image}};"{% endif %} collapse>
      {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
      {% if thecycle == 'odd' %}
      <div class="t--section-content align--center-center flex--grid">
        {% if node.section_image != nil %}
        <div class="hide--mobile-sm">
          {% img "{{node.section_image | split: '/' | last}}" width:"200" height:"auto" %}
        </div>
        {% endif %}
        <div class="flex-fill">
          <h3 class="t--page-{{ page.title | slugify }}-heading">{{node.title}}</h3>
          {{node.content | markdownify}}
        </div>
        <a class="editor-link" href="cloudcannon:collections/{{ node.path }}">Edit {{node.title}}</a>
      </div>
      {% endif %}
      {% if thecycle == 'even' %}
      <div class="t--section-content align--center-center flex--grid">
        <div class="flex-fill">
          <h3 class="t--page-{{ page.title | slugify }}-heading">{{node.title}}</h3>
          {{node.content | markdownify}}
        </div>
        {% if node.section_image != nil %}
        <div class="hide--mobile-sm">
          {% img "{{node.section_image | split: '/' | last}}" width:"200" height:"auto" %}
        </div>
        {% endif %}
        <a class="editor-link" href="cloudcannon:collections/{{ node.path }}">Edit {{node.title}}</a>
      </div>
      {% endif %}
    </section>
    {% endif %}
  {% endfor %}
  {% endstrip %}
</div>

<div id="placeholders" collapse>
  <div id="{{page.title | slugify}}" class="t--section-placeholder" collapse></div>
  {% strip %}
  {% for node in nodes %}
    {% if node.order > 0 and node.order != nil %}
    <div id="{{ node.title | slugify }}" class="t--section-placeholder" collapse></div>
    {% endif %}
  {% endfor %}
  {% endstrip %}
</div>

<nav class="t--nav fixed--center-right">
  <ul id="nav" class="origin">
    <li class="t--nav-item">
      <a href="#{{page.title | slugify}}" class="t--nav-item-link unstyle">{{page.title}}</a>
    </li>
      {% for node in nodes %}
      {% strip %}
        {% if node.order > 0 and node.order != nil %}
        <li class="t--nav-item">
          {% if node.nav_title != nil %}
            <a href="#{{ node.title | slugify }}" class="t--nav-item-link unstyle">{{node.nav_title}}</a>
            {% else %}
            <a href="#{{ node.title | slugify }}" class="t--nav-item-link unstyle">{{node.title}}</a>
          {% endif %}
        </li>
        {% endif %}
        {% endstrip %}
      {% endfor %}
    <li class="t--nav-scroll" id="nav-scroll" collapse></li>
  </ul>
</nav>
