.button-a {
  background-color: $color-b;
  border-radius: .25rem;
  padding: 1rem 3rem;
  color: $white;

  &:hover {
    background-color: scale-color($color-b, $lightness: -20%);
    cursor: pointer;
  }
}

.button-cta {
  font-size: 12pt;
  border: solid thin $white;
  border-radius: 3px;
  padding: 1rem 3rem;
  color: $white;
  background-color: rgba($black, 0.6);
}

.fluid {
  width: 100%;
}
