.footer {
  padding: 2rem 0 1rem;
  background-color: $color-g;
  position: relative;

  .footer-logo {
    display: inline-block;

    svg {
      fill: $white;
      width: 150px;
      height: 2rem;
    }
  }

  .footer-sublinks {
    margin-top: 0;
    display: flex;
    justify-content: center;
  }

  .footer-social {
    justify-content: center;
  }

  .footer-share {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: none;

    @include tablet {
      display: block;
    }
  }
}
