fieldset {
  label {
    input[type="checkbox"],
    input[type="radio"] {
      display: none;

      + span {
        cursor: pointer;

        &:before {
          font-family: "Ionicons";
          vertical-align: top;
          display: inline-block;
          margin-right: .25em;
          font-size: 1.5rem;
          color: #39afb0;
          text-shadow: none;
        }
      }
    }

    input[type="checkbox"] {
      + span:before {
        content: "\f372";
      }

      &:checked + span:before {
        content: "\f122";
        font-size: 12pt;
      }
    }

    input[type="radio"] {
      + span:before {
        content: "\f401";
      }

      &:checked + span:before,
      + span.is-checked:before {
        content: "\f400";
      }
    }
  }

  &.favorite > label {
    input[type="checkbox"] {
      + span {
        margin-top: 0;
        border-radius: 999rem;
        height: 1.5rem;
        line-height: 1.9rem;
        width: 1.5rem;
        text-align: center;

        &:before {
          content: "\f184";
          color: #39afb0;
          margin-right: 0;
          font-size: 13pt;
        }
      }

      &:checked + span {
        &:before {
          content: "\f24e";
        }
      }
    }
  }

  &.urgent-message--toggle label {
    input[type="checkbox"]:checked + .button--remove-sm {
      color: red;
    }
  }
}
