.textarea {
  position: relative;
  padding: 0;

  legend {

  }

  textarea {
    border: solid thin $white--off;
    padding: .25rem .5rem;
    line-height: 2rem;
    font-size: 14pt;
    width: 100%;
    margin-top: 0;
  }
}
