.module {

  &.demographics {

    .demographics-splash {
      // margin-bottom: -10rem;
    }

    .demographics-heading {
      padding: 2rem;
      padding-bottom: 1rem;
      background-color: rgba($color-b, 0.6);
      position: relative;
      margin-bottom: 0;
    }

    .demographics-body {
      padding: 2rem;
      padding-top: 1rem;
      background-color: rgba($color-b, 0.9);
      position: relative;
    }
  }
}
