.nav-style--a {
  min-width: 100%;
  padding: 0 1rem;

  > a {
    display: inline-block;
    height: $height-header;
    line-height: $height-header;
    color: $white--off;
    width: 100%;
    font-weight: 200;
    position: relative;

    &:hover {
      text-decoration: none;
    }
  }

  &.is-current > a {
    color: $white;
  }

  @include tablet {
    min-width: 0;

    > a {
      transition: color .25s;

      &:after {
        content: "";
        position: absolute;
        bottom: 1.5rem;
        width: 0%;
        left: 50%;
        border-bottom: solid thin $color-a;
        margin: auto;
        transition: width .25s, left .25s;
      }

      &:hover {
        color: $white;

        &::after {
          left: 0%;
          width: 100%;
        }
      }
    }
  }
}

.nav-style--a {
  border-bottom: solid thin scale-color($color-f, $lightness: 10%);

  @include tablet {
    border-bottom: none;
  }

  .not-inview & {
    > a {
      @include tablet {
        color: $black;
      }

      &::after {
        border-bottom-color: $color-a;
      }
    }
  }

  &.is-current {
    background-color: scale-color($color-f, $lightness: 10%);

    @include tablet {
      background-color: transparent;
    }

    > a {
      color: $white;

      @include tablet {
        color: $color-a;
      }

      &::after {
        left: 0%;
        width: 100%;
      }
    }
  }
}

.nav-login {
  background-color: $color-a;
  transition: background-color .25s;

  > a {
    display: block;
    height: $height-header;
    line-height: $height-header;
    color: $white;
    padding: 0 1.25rem;

    &:hover {
      text-decoration: none;
    }

    &::after {
      display: none;
    }
  }
  &:hover {
    background-color: scale-color($color-a, $lightness: -10%);
  }
}


.nav-style--b {
  display: none;

  @include tablet {
    display: block;
  }

  > a {
    padding: 0 2rem;
    color: $white;
    display: inline-block;
  }
}

.social-link--a {
  border: solid thin $color-a;
  text-align: center;
  border-radius: 999em;

  > a {
    display: block;
    width: 3rem;
    height: 3rem;
    line-height: 3.25rem;
    font-size: 14pt;
    color: $color-a;
    transition: background-color .5s, color .5s;
    border-radius: 999em;

    &:hover {
      background-color: $color-a;
      color: #fff;
    }
  }

  + .social-link--a {
    margin-left: 1rem;
  }
}

.footer-link--a {

  + .footer-link--a {
    margin-left: 1rem;
  }
}
