.social {
  .social-share {
    border: solid thin $white;
    border-bottom: none;
    width: 100% !important;

    .icon {
      float: left;
    }

    a {
      padding: 0 1rem;
      text-decoration: none;
      transition: background .25s;
      display: block;
      height: 2rem;
      line-height: 2rem;
    }

    &:first-of-type {
      border-radius: 3px 3px 0 0;
    }

    &:last-of-type {
      border-radius: 0 0 3px 3px;
      border-bottom: solid thin $white;
    }

    .social-share-text {
      color: $white;
      width: 100px;
    }

    svg {
      padding-top: 2px;
      width: 1rem;
      max-height: 1rem;
      margin-right: .5rem;
      fill: $white;
    }

    &.facebook a:hover {
      background-color: $color-facebook;
    }

    &.twitter a:hover {
      background-color: $color-twitter;
    }
  }

  // .social-share {
  //   margin-top: 0;
  //
  //   &:last-child > a {
  //     border-bottom: solid thin #aaa;
  //   }
  //
  //   .social-share-text {
  //     display: none;
  //     margin-left: .5em;
  //     font-weight: 700;
  //
  //     @include tablet() {
  //       margin-top: 0;
  //       width: 100px;
  //       display: inline-block;
  //     }
  //   }
  //
  //   a {
  //     border-radius: 0;
  //     padding: 0 1rem;
  //     text-align: left;
  //     margin-top: 0;
  //     margin-bottom: 0;
  //     line-height: 2rem;
  //     height: 2rem;
  //     background-color: rgba(black, 0.2);
  //     border: solid thin #aaa;
  //     border-bottom: none;
  //
  //     &:hover {
  //       background-color: $color-b;
  //     }
  //   }
  //
  //   &:first-of-type > a {
  //     border-radius: .25rem .25rem 0 0;
  //   }
  //
  //   &:last-of-type > a {
  //     border-radius:  0 0 .25rem .25rem;
  //   }
  //
  //   span {
  //     margin: 0;
  //     svg {
  //       fill: #fff;
  //       width: 1rem;
  //       height: 1rem;
  //     }
  //   }
  //
  //   .icon {
  //     float: left;
  //     width: 20px;
  //     margin-top: .25rem;
  //     display: inline-block;
  //
  //     svg {
  //       max-width: 100%;
  //     }
  //   }
  //
  //   &.facebook > a {
  //     &:hover {
  //       background-color: #3b5998;
  //     }
  //   }
  //
  //   &.twitter > a {
  //     &:hover {
  //       background-color: #00aced;
  //     }
  //   }
  // }
}
