footer {
  padding: 2rem 0 1rem;
  background-color: #241f1f;
  position: relative; }
  .footer .footer-social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .footer .footer-share {
    position: absolute;
    top: 1rem;
    right: 2rem;
    display: none;
    margin-top: 0; }
    @media (min-width: 768px) {
      .footer .footer-share {
        display: block; } }

        .button--facebook-xs, .button--facebook-sm, .button--facebook-md, .button--facebook-lg, .button--twitter-xs, .button--twitter-sm, .button--twitter-md, .button--twitter-lg, .button--google-xs, .button--google-sm, .button--google-md, .button--google-lg {
          text-align: left;
          display: block;
          color: #ffffff; }
          .button--facebook-xs i:first-child, .button--facebook-sm i:first-child, .button--facebook-md i:first-child, .button--facebook-lg i:first-child, .button--twitter-xs i:first-child, .button--twitter-sm i:first-child, .button--twitter-md i:first-child, .button--twitter-lg i:first-child, .button--google-xs i:first-child, .button--google-sm i:first-child, .button--google-md i:first-child, .button--google-lg i:first-child {
            width: 3rem; }
          .button--facebook-xs:hover, .button--facebook-sm:hover, .button--facebook-md:hover, .button--facebook-lg:hover, .button--twitter-xs:hover, .button--twitter-sm:hover, .button--twitter-md:hover, .button--twitter-lg:hover, .button--google-xs:hover, .button--google-sm:hover, .button--google-md:hover, .button--google-lg:hover {
            text-decoration: none;
            color: #ffffff; }

        .button--facebook-xs, .button--facebook-sm, .button--facebook-md, .button--facebook-lg {
          background-color: #3b5998; }
          .button--facebook-xs:hover, .button--facebook-sm:hover, .button--facebook-md:hover, .button--facebook-lg:hover {
            background-color: #324c81; }

        .button--twitter-xs, .button--twitter-sm, .button--twitter-md, .button--twitter-lg {
          background-color: #55acee; }
          .button--twitter-xs:hover, .button--twitter-sm:hover, .button--twitter-md:hover, .button--twitter  -lg:hover {
            background-color: #389eeb; }

            .button--add-md, .button--cardLink-md, .button--cancel-md, .button--cancelConfirm-md, .button--confirm-md, .button--confirm_padded-md, .button--connect-md, .button--delete-md, .button--dropdown-md, .button--edit-md, .button--facebook-md, .button--logout-md, .button--panel-md, .button--remove-md, .button--settings-md, .button--social-md, .button--twitter-md, .button--google-md, .button--text-md {
  font-size: 1.157625rem;
  line-height: 1;
  white-space: nowrap;
  height: 3rem;
  min-width: 100%;
  padding: 0;
  line-height: 3rem; }
  .button--add-md span, .button--cardLink-md span, .button--cancel-md span, .button--cancelConfirm-md span, .button--confirm-md span, .button--confirm_padded-md span, .button--connect-md span, .button--delete-md span, .button--dropdown-md span, .button--edit-md span, .button--facebook-md span, .button--logout-md span, .button--panel-md span, .button--remove-md span, .button--settings-md span, .button--social-md span, .button--twitter-md span, .button--google-md span, .button--text-md span {
    margin-top: 0;
    padding: 0 1.5rem; }


      [disabled="true"].button--add-md, [disabled="true"].button--cardLink-md, [disabled="true"].button--cancel-md, [disabled="true"].button--cancelConfirm-md, [disabled="true"].button--confirm-md, [disabled="true"].button--confirm_padded-md, [disabled="true"].button--connect-md, [disabled="true"].button--delete-md, [disabled="true"].button--dropdown-md, [disabled="true"].button--edit-md, [disabled="true"].button--facebook-md, [disabled="true"].button--logout-md, [disabled="true"].button--panel-md, [disabled="true"].button--remove-md, [disabled="true"].button--settings-md, [disabled="true"].button--social-md, [disabled="true"].button--twitter-md, [disabled="true"].button--google-md, [disabled="true"].button--text-md {
        opacity: .25 !important;
        pointer-events: none; }
      .fill.button--add-md, .fill.button--cardLink-md, .fill.button--cancel-md, .fill.button--cancelConfirm-md, .fill.button--confirm-md, .fill.button--confirm_padded-md, .fill.button--connect-md, .fill.button--delete-md, .fill.button--dropdown-md, .fill.button--edit-md, .fill.button--facebook-md, .fill.button--logout-md, .fill.button--panel-md, .fill.button--remove-md, .fill.button--settings-md, .fill.button--social-md, .fill.button--twitter-md, .fill.button--google-md, .fill.button--text-md {
        min-width: 100%; }
      .button--add-md > i, .button--cardLink-md > i, .button--cancel-md > i, .button--cancelConfirm-md > i, .button--confirm-md > i, .button--confirm_padded-md > i, .button--connect-md > i, .button--delete-md > i, .button--dropdown-md > i, .button--edit-md > i, .button--facebook-md > i, .button--logout-md > i, .button--panel-md > i, .button--remove-md > i, .button--settings-md > i, .button--social-md > i, .button--twitter-md > i, .button--google-md > i, .button--text-md > i {
        height: 3rem;
        line-height: 3rem;
        text-align: center;
        display: inline-block;
        margin-top: 0;
        padding: 0 1rem; }


    .button--add-md > i + span, .button--cardLink-md > i + span, .button--cancel-md > i + span, .button--cancelConfirm-md > i + span, .button--confirm-md > i + span, .button--confirm_padded-md > i + span, .button--connect-md > i + span, .button--delete-md > i + span, .button--dropdown-md > i + span, .button--edit-md > i + span, .button--facebook-md > i + span, .button--logout-md > i + span, .button--panel-md > i + span, .button--remove-md > i + span, .button--settings-md > i + span, .button--social-md > i + span, .button--twitter-md > i + span, .button--google-md > i + span, .button--text-md > i + span {
      padding-left: 0; }
  .button--add-md > span + i, .button--cardLink-md > span + i, .button--cancel-md > span + i, .button--cancelConfirm-md > span + i, .button--confirm-md > span + i, .button--confirm_padded-md > span + i, .button--connect-md > span + i, .button--delete-md > span + i, .button--dropdown-md > span + i, .button--edit-md > span + i, .button--facebook-md > span + i, .button--logout-md > span + i, .button--panel-md > span + i, .button--remove-md > span + i, .button--settings-md > span + i, .button--social-md > span + i, .button--twitter-md > span + i, .button--google-md > span + i, .button--text-md > span + i {
    padding-left: 0; }

    .button--add-xs, .button--add-sm, .button--add-md, .button--add-lg, .button--cardLink-xs, .button--cardLink-sm, .button--cardLink-md, .button--cardLink-lg, .button--cancel-xs, .button--cancel-sm, .button--cancel-md, .button--cancel-lg, .button--cancelConfirm-xs, .button--cancelConfirm-sm, .button--cancelConfirm-md, .button--cancelConfirm-lg, .button--confirm-xs, .button--confirm-sm, .button--confirm-md, .button--confirm-lg, .button--confirm_padded-xs, .button--confirm_padded-sm, .button--confirm_padded-md, .button--confirm_padded-lg, .button--connect-xs, .button--connect-sm, .button--connect-md, .button--connect-lg, .button--delete-xs, .button--delete-sm, .button--delete-md, .button--delete-lg, .button--dropdown-xs, .button--dropdown-sm, .button--dropdown-md, .button--dropdown-lg, .button--edit-xs, .button--edit-sm, .button--edit-md, .button--edit-lg, .button--facebook-xs, .button--facebook-sm, .button--facebook-md, .button--facebook-lg, .button--logout-xs, .button--logout-sm, .button--logout-md, .button--logout-lg, .button--panel-xs, .button--panel-sm, .button--panel-md, .button--panel-lg, .button--remove-xs, .button--remove-sm, .button--remove-md, .button--remove-lg, .button--settings-xs, .button--settings-sm, .button--settings-md, .button--settings-lg, .button--social-xs, .button--social-sm, .button--social-md, .button--social-lg, .button--twitter-xs, .button--twitter-sm, .button--twitter-md, .button--twitter-lg, .button--google-xs, .button--google-sm, .button--google-md, .button--google-lg, .button--text-xs, .button--text-sm, .button--text-md, .button--text-lg {
      cursor: pointer;
      vertical-align: top;
      display: inline-block;
      white-space: nowrap; }
