.splash {
  background-color: $black;
  margin-top: -($offset-body + $height-header);

  &:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba($black, 0.15);
  }

  > img {
    opacity: 0.6;
  }

  .splash-heading {
    justify-content: center;
    margin-top: 0;
    padding: $height-header 1rem 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    height: 50%;
    position: relative;
    z-index: 10;

    @include tablet {
      height: 70%;
      padding: $height-header 25% 0;
    }
  }

  .splash-cta {
    padding: 1rem;
    position: relative;
    margin: 0 auto;

    a {
      width: 100%;
    }

    @include tablet {
      min-width: 660px;
      max-width: 60%;
    }
  }
}
