.splash {
  background-color: $black;
  margin-top: -($offset-body + $height-header);

  &:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
  }

  > img {
    opacity: 0.6;
  }

  .splash-heading {
    justify-content: center;
    margin-top: 0;
    padding: $height-header 1rem 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    height: 50%;
    position: relative;
    z-index: 10;
    margin-left: auto;
    margin-right: auto;

    @include tablet {
      height: 70%;
      padding: $height-header 0 0;
      max-width: 640px;
    }
  }

  .splash-cta {
    padding: 1rem;
    position: relative;
    margin: 0 auto;

    a {
      width: 100%;
    }

    @include tablet {
      width: 720px;
    }
  }
}

.subsplash {
  background: no-repeat center top;
  background-size: cover;
  padding: 3rem 3rem 2rem;
  display: flex;
  flex-direction: column;
  transition: box-shadow .25s ease-in-out;
  box-shadow: 0 0 0 rgba($white, 0.1) inset;

  &:hover {
    text-decoration: none !important;
    box-shadow: 0 0 3rem rgba($white, 0.3) inset;
  }

  .subsplash-heading {
    font-size: 28pt;
    line-height: 3rem;
    font-weight: 100;
  }

  .subsplash-footer {
    margin-top: auto;
  }
}
