$color-a: #8ab255;
$color-b: #40b1bd;
$color-c: #293b3a;
$color-d: #6ea1a2;
$color-e: #c9dcde;
$color-f: #5e5151;
$color-g: #241f1f;
$color-warning: #8a3324; // Burnt Umber

$color-facebook: #3b5998;
$color-twitter: #00aced;


$black: #333333;
$white: #ffffff;


$white--off: darken($white, 10%);
