.welcomeQuote {
  padding: 5rem 2rem;
  background-image: linear-gradient(to bottom, rgba(black, 0.3), rgba(black, 0.1), rgba(black, 0.2), rgba(black, 0.5));
  text-shadow: 0 -1px rgba(white, 0.4);
}

.welcomeUsers {
  padding: 5rem 2rem;
  background: url('https://res.cloudinary.com/chopper/image/upload/f_auto/Site%20Images/looking_ahead-bg.jpg') no-repeat left top;
  background-size: cover;
  margin-bottom: -$height-header;
}

.browser_frame {
  display: none;
  + [role="main"] {
    display: none;
    margin-top: 0;
  }
}


.welcomeLink {
  background-color: #000;
  color: $white;
  position: relative;
  height: 100%;
  padding: 3.5rem;
  background-position: top left, bottom right;
  background-repeat: no-repeat;
  background-size: 6rem  auto, 10rem auto;
  display: block;
  box-shadow: 0 0 0 1px rgba($white, 0) inset;
  transition: background-color .25s ease-in-out;
  min-height: 20rem;

  h2 {
    color: $white;
  }

  &:hover {
    color: $white;
    text-decoration: none;
    cursor: pointer;
    background-color: scale-color(#000, $lightness: 8%);

    span {
      border-bottom: solid thin $color-b;
    }
  }

  span {
    font-weight: 100;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(-1rem, -1rem);
    font-size: 13pt;
    color: $color-b;
    border-bottom: solid thin transparent;

    &:after {
      content: url('/_assets/img/arrow-right-circle-half.svg');
      width: 1.75rem;
      height: 1.75rem;
      display: inline-block;
      vertical-align: middle;
      margin-left: .25em;
    }
  }

  h2 {
    position: relative;
    z-index: 1;
  }
}
