.inverse {
  color: $white !important;
}

.centered {
  margin-left: auto !important;
  margin-right: auto !important;
}

.p-centered {
  text-align: center !important;
}

.p-right {
  text-align: right !important;
}

.unstyle- {
  &-list {
    list-style: none;
    padding-left: 0;
    > li {
      list-style: none;
    }
  }
}

.collapse {
  position: relative;
}

.background-image {
  position: absolute;
  width: 100%;
  max-height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
