$width-tablet: 768px !default;
$width-desktop: 1025px !default;

$grid: (
  col: 0,
  tablet: $width-tablet,
  desktop: $width-desktop
) !default;

$columns: 12 !default;


/* --------- Custom Media Quiries ----------- */

/* Custom Media Query */
@mixin media($media) {
  @media (min-width: #{$media}) {
    @content;
  }
}

/* Tablet */
@mixin tablet {
  @media (min-width: #{$width-tablet}) {
    @content;
  }
}

/* Desktop/Wide Tablet */
@mixin desktop {
  @media (min-width: #{$width-desktop}) {
    @content;
  }
}

@mixin is-open() {
  .is-open {
    @content;
  }
}


/* Font Scaling */
@mixin fp($property, $min, $max, $start: 320, $end: 1025, $clip: true, $clipAtStart: true, $clipAtEnd: true) {
  $multiplier: ($max - $min) / ($end - $start) * 100;
  $adder: ($min * $end - $max * $start) / ($end - $start);
  $formula: calc(#{$multiplier + 0vw} + #{$adder + 0pt});
  @if $clip and $clipAtStart {
    @media (max-width: #{$start + 0px}) {
      #{$property}: $min + 0px;
    }
  }
  @if $clip and $clipAtEnd {
    @media (min-width: #{$end + 0px}) {
      #{$property}: $max + 0px;
    }
  }
  #{$property}: $formula;
}



/* ----------- Grid Generator ----------- */
@mixin grid-generator($grid) {
  .grid {
    @extend .flex;
    margin-left: -1rem;

    > * {
      padding-left: 1rem;
    }

    &.gutter--lg {
      margin-left: -3rem;
      > * {
        padding-left: 3rem;
      }
    }

    @each $name, $value in $grid {
      @include media($value) {
        > [class*="#{$name}-"] {
          width: 100%;
        }
      }

      @for $i from 1 through $columns {
        @for $j from 1 through $i {
          @if $j < $i {
            @include media($value) {
              > .#{$name}-#{$j}-#{$i} {
                width: percentage($j/$i);
              }
            }
          }
        }
      }
    }
  }
}
